<nav>
    <a href="{{ .Site.Home.RelPermalink }}">
        <img src="/site-images/logos/logo-z-napisom-ob-strani.svg" class="" alt="Peskovnik - Odprti laboratorij" />
    </a>
        <ul>
            <li>
                <a href="/">
                    Peskovnik
                </a>
            </li>
            <li>
                <a href="/">
                    Projekti
                </a>
            </li>
            <li>
                <a href="/oprema">
                    Oprema
                </a>
            </li>
            <li>
                <a href="/oprema">
                    Članstvo
                </a>
            </li>
            <li>
                <a href="/dokumenti">
                    Obrazci in<br>pravilniki
                </a>
            </li>
            <li>
                <a href="https://fabman.io/login" class="olfs-red-text">
                    Fabman
                </a>
            </li>
        </ul>
</nav>